In [4]:
import numpy as np
import pandas as pd

In [4]:
estimates = pd.read_csv('estimates.csv')[['b_10', 'b_11', "b_12", "b_20", 'b_21', 'b_22', 'b_23', 'rho']]
estimates.head()

,b_10,b_11,b_12,b_20,b_21,b_22,b_23,rho
0,2.445899,1.958386,-2.167698,1.816717,0.924589,-1.731158,-2.275861,0.423521
1,2.879958,1.869248,-2.354929,1.438997,1.101412,-1.721607,-2.339993,0.414181
2,2.640501,2.028902,-2.373564,1.790258,1.039934,-2.023205,-2.464461,0.491749
3,2.750252,2.000378,-2.370279,1.723351,1.061148,-2.011566,-2.496468,0.531509
4,2.858089,2.004383,-2.441716,1.993508,0.985690,-2.015659,-2.480095,0.618211

In [6]:
true = np.array([3, 2, -2.5, 2, 1, -2, -2.5, 0.5])

In [36]:
rmses = np.mean((estimates - true) ** 2, axis=0) ** (1 / 2)

In [37]:
means = estimates.mean()
medians = estimates.median()

In [38]:
mapes = np.mean(np.abs((estimates - true) / true) * 100, axis=0)

In [39]:
results = pd.DataFrame()

In [42]:
mapes.values

array([ 7.84891679,  5.15294433,  5.90593024, 14.73692577,  7.89478916,
        5.82869254,  5.28219279, 13.21821169])

In [44]:
results['beta_true'] = true
results['beta_mean'] = np.round(means.values, 3)

results['RMSE'] = np.round(rmses.values, 3)
results['MAPE'] = np.round(mapes.values, 3)

results

   beta_true  beta_mean  beta_median   RMSE    MAPE
0        3.0      2.790        2.822  0.289   7.849
1        2.0      1.948        1.940  0.132   5.153
2       -2.5     -2.370       -2.373  0.177   5.906
3        2.0      1.787        1.781  0.363  14.737
4        1.0      1.005        0.997  0.100   7.895
5       -2.0     -1.937       -1.936  0.141   5.829
6       -2.5     -2.404       -2.409  0.166   5.282
7        0.5      0.497        0.504  0.082  13.218

In [45]:
results.to_csv('results_biprobit.csv')

In [9]:
def get_results(estimates, filename):
    
    rmses = np.mean((estimates - true) ** 2, axis=0) ** (1 / 2)
    mapes = np.mean(np.abs((estimates - true) / true) * 100, axis=0)
    means = estimates.mean()
    
    results = pd.DataFrame()
    results['beta_true'] = true
    results['beta_mean'] = np.round(means.values, 3)
    results['RMSE'] = np.round(rmses.values, 3)
    results['MAPE'] = np.round(mapes.values, 3)
    results.to_csv(f'{filename}.csv')
    return results

In [10]:
ests100 = pd.read_csv('estimates_100.csv')[['b_10', 'b_11', "b_12", "b_20", 'b_21', 'b_22', 'b_23', 'rho']]
get_results(ests100, 'results_biprobit_bayes_100')

   beta_true  beta_mean   RMSE    MAPE
0        3.0      1.787  1.273  40.442
1        2.0      1.646  0.425  18.499
2       -2.5     -1.745  0.778  30.206
3        2.0      0.881  1.200  55.943
4        1.0      0.969  0.196  15.495
5       -2.0     -1.587  0.489  20.863
6       -2.5     -1.913  0.633  23.573
7        0.5      0.421  0.240  38.594